.footer {
  color: gray;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
}

.link {
  display: flex;
  justify-content: center;
}

.gray {
  a: 'link{color: white)}';
  a: 'visited{color: white)}';
}

.test {
  display: flex;
  justify-content: center;
}
