.outer {
  background-color: white;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 312px;
  row-gap: 20px;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* min-height: %; */
}

.input {
  width: 304px;
  height: 44px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.button {
  width: 304px;
  height: 44px;
  border-radius: 5px;
}

.signUp {
  display: flex;
  width: 304px;
  justify-content: center;
  align-items: center;
}

.signUpLink {
  padding-left: 10px;
  text-decoration: underline;
}

.black {
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  color: gray;
}

.text {
  margin: 0;
}

.title {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  width: 304px;
}

.select {
  width: 120px;
  color: black;
}

.yellowBtn {
  width: 304px;
  height: 44px;
  border-radius: 5px;
  background-color: orange;
}
