.outer {
  background-color: white;
  height: 100vh;
  margin-top: 5px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.input {
  width: 304px;
  height: 44px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.button {
  width: 304px;
  height: 44px;
  border-radius: 5px;
}

#signInBTN {
  background-color: orange;
  margin-top: 5px;
}

.signUp {
  display: flex;
  width: 304px;
  justify-content: center;
  align-items: center;
}

.signUpLink {
  padding-left: 10px;
  text-decoration: underline;
}

.black {
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  color: gray;
}

.error {
  color: red;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
