.container {
  display: flex;
  padding: 20px;
}

.left {
  width: 20%;
}

.right {
  width: 80%;
}

.title {
  font-weight: bold;
  font-size: 30px;
}
.text {
  color: gray;
  font-size: 15px;
}

.block {
  display: flex;
  align-items: baseline;
}

.val {
  padding: 20px;
  margin: 0 auto 0 0;
}

.btn {
  margin-right: 50px;
}

.point {
  width: 130px;
}
