.container {
  display: flex;
  flex-direction: row;
  padding: 40px 32px;
}

.left {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.left_left {
  width: 40%;
}

/* .left_left img {
  width: 100%;
  height: 100%;
} */

.left_right {
  width: 60%;
  margin: 0;
}

.left_right p {
  margin: 0;
}

.right {
  width: 20%;
}

.title {
  font-weight: bold;
}

.inputQtyContainer {
  display: flex;
  flex-direction: row;
}

.addMinusContainer {
  display: flex;
  flex-direction: column;
  /* width: 30px;
  height: 40px; */
}

.addMinusContainer button {
  width: 20px;
  height: 23px;
  border-radius: 0;
}

.quantity {
  width: 60px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
}

.addToCartBTN {
  background-color: orange;
  margin-left: 10px;
  border-radius: 8px;
}
